:root {
  --fade-time: 2s;
	--clr-bg: white;
	--clr-bg-tint: snow;
	--clr-txt: black;
	--clr-txt-low-op: rgb(0,0,0,.2);
	--clr-txt-gray: gray;
	--clr-txt-tint: silver;
	--clr-foot: red;
	--clr-thm: lightblue;
}
html {
	scroll-behavior: smooth;
}
body {
	background: var(--clr-bg);
	color: var(--clr-txt);
}
footer {
  min-height: 10ch;
  background: var(--clr-foot);
}
header {
  container-type: inline-size;
  background: var(--clr-txt-tint);
}
h1, h2, h3 {
  text-align: center;
}
nav {
  display: flex;
  place-content: space-between;
  list-style: none;
  background-color: var(--clr-thm);
}
button {
  background: transparent;
  border: 2px solid transparent;
  padding-inline: .5em;
}
img {
max-width: 100%;
	height: auto;
}
.pkmn-list {
  list-style: none;
	padding: 0;
  margin-inline: .5em;
  margin-bottom: 2em;
}
.pkmn-list > * {
	margin-bottom: .5em;
}
.pkmn-list[hidden] {
  display: none;
}
.pkmn {
  padding: .7rem;
	border-radius: .5rem;
  box-shadow: 0 0 .5rem var(--clr-txt-tint);
}
.pkmn:not(:last-child) {
  /*border-bottom: 1px solid var(--clr-txt);*/
}
.filter-btn.active {
  pointer-events: none;
  background: var(--clr-txt);
  color: var(--clr-bg);
  box-shadow: 0 0 .5rem var(--clr-txt-low-op);
}
#backToTop {
	font-size: 1.1rem;
	position: fixed;
	bottom: 2rem;
	right: 1rem;
	border-radius: 1rem;
	padding: .5rem;
	opacity: .6;
	transition: opacity 300ms ease-in-out, box-shadow 300ms ease-in-out;
	box-shadow: 0 0 1rem transparent;
}
#backToTop, #backToTop > * {
	user-select: none;
	cursor: pointer;	
}
#backToTop:hover, #backToTop:focus-within {
	opacity: 1;
	box-shadow: 0 0 1rem var(--clr-txt);
}
@media (hover:hover) {
  .filter-btn:hover, .filter-btn:focus {
    background-color: var(--clr-bg-tint);
    color: var(--clr-txt);
    cursor: pointer;
    transform: scale(1.2);
  } 
}
@media (orientation:portrait) {
	#backToTop:hover, #backToTop:focus-within {
	box-shadow: 0 0 1rem var(--clr-txt-tint);
	}	
}
@media (prefers-color-scheme: dark) {
	:root {
	--clr-bg: black;
	--clr-bg-tint: gray;
	--clr-txt: white;
	--clr-txt-gray: snow;
	}
}
